<% layout('../layout') -%>
    <% block('title', 'Asian American Association') -%>
        <script>
            $(document).ready(function() {
                $('.ui.accordion').accordion();
            })
        </script>
        <style>
            .button {
                -moz-appearance: button;
                /* Firefox */
                -webkit-appearance: button;
                /* Safari and Chrome */
                padding: 10px;
                margin: 10px;
                width: 70px;
            }
            .drop-box {
                background: #F8F8F8;
                border: 5px dashed #DDD;
                width: 200px;
                height: 65px;
                text-align: center;
                padding-top: 25px;
                margin: 10px;
            }
            .dragover {
                border: 5px dashed blue;
            }
        </style>
        <link rel="stylesheet" href="/vendor/datetimepicker/jquery.datetimepicker.css">

        <div ng-controller="EventController">
        <form name="testForm" enctype="multipart/form-data" action="/a" method="POST">
            <input type="file">
            <input type="submit">
        </form>
        <!-- <input type="file" ngf-select ngf-change="onFileSelect($files)"> -->
            <div class="ui styled fluid accordion">
                <div ng-repeat="event in events track by event._id" ng-cloak>
                    <div class="title">{{event.title}}
                        <i class="ui remove icon" ng-click="deleteEvent(event, $index)"></i>
                    </div>
                    <div class="content">
                        <form name="updateEvent" novalidate ng-submit="put($index)">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="two wide field">
                                        <label>Name</label>
                                    </div>
                                    <!-- <div ng-show="updateEvent.fName.$error.longname && showValidations">DCMM</div> -->
                                    <div class="eight wide field">
                                        <input type="text" name="fName" ng-model="event.name" required>
                                    </div>
                                </div>
                                <div class="inline fields">
                                    <div class="two wide field">
                                        <label>Image</label>
                                    </div>
                                    <div class="eight wide field">
                                        <img src={{event.imageUrl}} alt="">
                                        <input type="file" name="image" files-model="event.image" multiple>
                                    </div>
                                </div>
                                <div class="inline fields">
                                    <div class="two wide field">
                                        <label>Description</label>
                                    </div>
                                    <div class="eight wide field">
                                        <input type="text" ng-model="event.description">
                                    </div>
                                </div>
                                <div class="inline fields">
                                    <div class="two wide field">
                                        <label>Date</label>
                                    </div>
                                    <div class="eight wide field dateContainer">
                                        <input type="text" ng-model="event.date">
                                        <input type="text" class="datepicker" ng-model="event.date">
                                    </div>
                                </div>
                                <button ng-disabled="updateEvent.$invalid" type="submit">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>

                <form name="create" novalidate>
                    <label for="name">Name</label>
                    <input name="name" ng-model="newEvent.name"></input>

                    <label for="description">Description</label>
                    <input name="description" ng-model="newEvent.description"></input>

                    <label for="image">Image</label>
                    <input name="image" files-model="newEvent.image" multiple type="file"></input>

                    <label for="date">Date</label>
                    <input name="date" ng-model="newEvent.date" id="newEventDate"></input>
                    <button ng-click="createEvent()">Send</button>
                </form>
            </div>
        </div>
        </div>