<% layout('../layout') -%>
<% block('title', 'AAA - Committees') -%>

<body ng-controller="CommitteesController as self" ng-init="page='committees';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic very padded header segment">
        <div class="ui huge violet header aaa-main-title">Committees | <span class="aaa-main-title-text">here to work, and play</span></div>
      </div>
      <div class="ui segment">
        <div class="ui text container" ng-repeat="committee in committees">
          {{}}
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>