<!DOCTYPE html>
<html>
  <head>
    <title>Asian American Association - Page Not Found</title>
    <%- include header %>
  </head>
  <body>
    <div class="ui one column vertically padded page grid">
      <div class="column">
        <div class="ui basic segment content">
          <div class="ui raised segment">
            <a class="ui huge red ribbon label">404</a>
            <div class='ui basic segment center aligned'>
              <h1 class="ui icon header">
                We're sorry, the page you're looking for is currently on our to-do list
                <div class='ui divider'></div>
                <div class="sub header">
                  <%= message %>
                </div>
                <div class='ui hidden divider'></div>
                <div class="sub header">
                  <a href="/">Click here to return home</a>
                </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>