<% layout('../layout') -%>
<% block('title', 'AAA - Events') -%>

<body ng-controller="EventsController as self" ng-init="page='events';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic very padded header segment">
        <div class="ui huge violet header aaa-main-title">Events | <span class="aaa-main-title-text">uptown funk you up</span></div>

      </div>
      <div class="ui segment" ng-repeat-start="event in events">
        <div class="ui clearing very basic segment" style="margin-bottom:0px">
          <h1 class="ui left floated header">
            {{event.name}}
          </h1>
          <h2 class="ui right floated header" style="color:gray">
            {{event.date}} <span ng-if="event.location">@ {{event.location}}</span>
          </h2>
        </div>
        <div class="ui divider" style="margin-top:0px"></div>
        <div class="ui two column stackable grid">
          <div class="row">
            <div class="center aligned column" ng-if="$even">
              <img ng-src="{{event.image}}" class="ui fluid image">
            </div>
            <div class="center aligned column">
              <div class="ui fluid basic segment">
                <div class="aaa-text-container">{{event.description}}</div>
              </div>
            </div>
            <div class="center aligned column" ng-if="$odd">
              <img ng-src="{{event.image}}" class="ui fluid image">
            </div>
          </div>
        </div>
      </div>
      <div class="ui hidden divider" ng-repeat-end ng-if="!$last"></div>
    </div>
  </div>
  <br><br>
</body>

