<% layout('../layout') -%>
<% block('title', 'AAA - Events') -%>

<body ng-controller="EventsController as self" ng-init="page='events';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic very padded header segment">
        <div class="ui huge violet header aaa-main-title">Introducing <span class="aaa-main-title-text">{{userName || 'Yourself'}}</span></div>
      </div>
      <div class="ui two column page grid" ng-if="userRole && userPicture">
        <div class="column">
          <div class="ui special cards">
            <div class="card">
              <div class="blurring dimmable image">
                <div class="ui dimmer">
                  <div class="content">
                    <div class="center">
                      <div class="ui inverted button">Add Friend</div>
                    </div>
                  </div>
                </div>
                <img ng-src="{{userPicture}}">
              </div>
              <div class="content">
                <a class="header">{{userRole}}</a>
                <div class="meta">
                  <span class="date">Since {{userDate}}</span>
                </div>
              </div>
              <div class="extra content">
                <a>
                  <i class="users icon"></i>
                  Novice
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui padded segment">
            <p>email: {{userEmail}}</p>
            <p>company: {{userCompany}}</p>
            <p>school: {{userSchool}}</p>
            <p>interests: {{userInterests}}</p>
            <p>about: {{userBio}}</p>
            <button class="ui blue basic button" ng-click="self.openChat()"><i class="whatsapp icon"></i>Chat</button>
          </div>
        </div>
      </div>
      <div class="ui padded segment" ng-if="!userRole || !userPicture">
        <form class="ui basic form segment" ng-submit="self.submit(form)">
          <div class="field">
            <label>Interested in</label>
            <div class="ui left labeled input">
              <div class="ui simple dropdown label">
                <div class="text">{{role}}</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" ng-click="self.learning()">Learning</div>
                  <div class="item" ng-click="self.teaching()">Teaching</div>
                </div>
              </div>
              <input type="text" placeholder="Comma seperated fields" ng-model="form.interests">
            </div>
          </div>
          <div class="field">
            <label>School</label>
            <div id="dr" class="ui left icon input">
              <input type="text" placeholder="School" ng-model="form.school">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Company</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Company" ng-model="form.company">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Picture</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Image URL" ng-model="form.picture">
              <i class="image icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Bio</label>
            <textarea ng-model="form.bio"></textarea>
          </div>
          <button class="fluid ui massive basic purple button" ng-class="{loading:loading}">Sign up</button>
        </form>
      </div>
    </div>
  </div>
  <br><br>
  <div id="chatModal" class="ui small modal chat">
    <i class="close icon"></i>
    <div class="header">
      {{userName}}'s teahouse
    </div>
    <div class="ui basic middle aligned relaxed fitted stackable grid">
      <div class="column">
        <div class="ui basic form segment">
          <div class="field">
            <textarea id="textBox1" readonly></textarea>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="text" id="chatBox1" placeholder="Chat away!" ng-model="chatText" chat1>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script>
      $( document ).ready(function() {
          
          console.log(6);
      });
      $('ui dropdown').dropdown();
      $('.ui.modal.chat')
        .modal()
      ;
  </script>
</body>

