<% layout('../layout') -%>
<% block('title', 'AAA - Events') -%>

<body ng-controller="EventsController as self" ng-init="page='events';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="ui container">
    <div class="ui padded basic header segment">
      <div class="ui padded basic segment">
        <div class="ui huge violet header aaa-main-title">Events</div>
        <p>uptown funk you up</p>
      </div>
    </div>
  </div>

</body>

