<% layout('../layout') -%>
<% block('title', 'AAA - Families') -%>

<body ng-controller="FamiliesController as self" ng-init="page='families';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic very padded header segment">
        <div class="ui huge grey header aaa-main-title">Dashboard | <span class="aaa-main-title-text">{{userRole}}</span></div>
      </div>
      <div class="ui segment">
        <div class="ui clearing very basic segment" style="margin-bottom:0px">
          <h1 class="ui centered header">
            Welcome back, {{userName}}!
          </h1>
        </div>
        <div class="ui raised segment">
          <h2> Mentors</h2>
            <div class="ui yellow message">
              <i class="star icon"></i>
              Here is the list of mentors there for you, click on them to see their profile and connect.
            </div>
            <div class="ui items">
              <div class="item" ng-repeat="match in matches">
                <a class="ui tiny image">
                  <img ng-src="{{match.picture}}">
                </a>
                <div class="content">
                  <a class="header">{{match.firstName}} {{match.lastName}}</a>
                  <div class="description">
                    <p>{{match.bio}}</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <br><br>
</body>
