<% layout('../layout') -%>
<% block('title', 'AAA - Families') -%>

<body ng-controller="FamiliesController as self" ng-init="page='families';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic padded header segment">
        <div class="ui huge grey header aaa-main-title">Dashboard | <span class="aaa-main-title-text">{{userRole}}</span></div>
      </div>
      <div class="ui text container">
        <div class="ui clearing very basic segment" style="margin-bottom:0px">
          <h1 class="ui centered header">
            Welcome back, {{userName}}!
          </h1>
        </div>
        <div class="ui segment">
          <h2> Mentors</h2>
            <div class="ui basic very padded segment" style="padding-top:1.5em">
              <div class="ui center aligned grid" ng-repeat-start="match in matches">
                <div class="eight wide column">
                  <img class="ui large rounded image" ng-src={{match.picture}}>
                </div>
                
                <div class="eight wide left aligned column">
                  <div class="ui list">
                  <div class="item">
                      <i class="user icon"></i>
                      <div class="content">
                        <a class="header">Name</a>
                        <div class="description"><h3>{{match.firstName}} {{match.lastName}}</h3></div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="mail outline icon"></i>
                      <div class="content">
                        <a class="header">Email</a>
                        <div class="description"><h3>{{match.email}}</h3></div>
                      </div>
                    </div>
                    <div class="item" ng-if="match.company">
                      <i class="building outline icon"></i>
                      <div class="content">
                        <a class="header">Company</a>
                        <div class="description"><h3>{{match.company}}</h3></div>
                      </div>
                    </div>
                    <div class="item" ng-if="match.school">
                      <i class="university icon"></i>
                      <div class="content">
                        <a class="header">School</a>
                        <div class="description"><h3>{{match.school}}</h3></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="ui two bottom attached fluid buttons" ng-repeat-end>
                <button class="ui red basic button" ng-click="self.setEmail(match.firstName, match.email)" myCoolDirective>Email</button>
                <button class="ui blue basic button" ng-click="self.openChat(match.firstName)"><i class="whatsapp icon"></i>Chat</button>
              </div>
            </div>
        </div> 
    </div>
  </div>
  <br><br>
  <div id="emailModal" class="ui small modal email">
    <i class="close icon"></i>
    <div class="header">
      Email {{emailName}}
    </div>
    <div class="ui basic middle aligned relaxed fitted stackable grid">
      <div class="column">
        <div class="ui basic form segment">
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Subject" ng-model="emailTitle">
            </div>
          </div>
          <div class="field">
            <textarea ng-model="emailBody"></textarea>
          </div>
        </div>
        <div class="ui padded basic center aligned segment">
          <div class="ui buttons">
            <button class="ui green basic button" ng-click="self.sendEmail()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="chatModal" class="ui small modal chat">
    <i class="close icon"></i>
    <div class="header">
      Chat with {{chatName}}
    </div>
    <div class="ui basic middle aligned relaxed fitted stackable grid">
      <div class="column">
        <div class="ui basic form segment">
          <div class="field">
            <textarea ng-model="emailBody"></textarea>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <input type="text" placeholder="Chat away!" ng-model="chatText">
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <script>
    $('.ui.modal.email')
      .modal()
    ;
    $('.ui.red.basic.button')
      .click(function(){
        $('.ui.modal.email')
          .modal('show')
        ;
      })
    ;
    $('.ui.modal.chat')
      .modal()
    ;
  </script>
</body>
