<% layout('../layout') -%>
<% block('title', 'AAA - Families') -%>

<body ng-controller="FamiliesController as self" ng-init="page='families';<%- include ../auth.ejs %>" class="aaa-main-page">
  <%- include ../sidebar.ejs %>
  <%- include ../menu.ejs %>
  <div class="pusher">
    <div class="ui container">
      <div class="ui basic very padded header segment">
        <div class="ui huge grey header aaa-main-title">Dashboard | <span class="aaa-main-title-text">{{userRole}}</span></div>
      </div>
      <div class="ui basic segment">
        <div class="ui clearing very basic segment" style="margin-bottom:0px">
          <h1 class="ui centered header">
            Welcome back, {{userName}}!
          </h1>
        </div>
        <div class="ui padded raised segment">
          <h2> Mentors</h2>
            <div class="ui yellow message">
              <i class="star icon"></i>
              Here is the list of mentors there for you, click on them to see their profile and connect.
            </div>
            <div class="ui basic very padded segment">
              <div class="ui grid" ng-repeat="match in matches">
                <div class="two wide column">
                </div>
                <div class="four wide column">
                  <img class="ui medium rounded image" ng-src={{match.picture}}>
                </div>
                
                <div class="three wide column">
                  <div class="ui list">
                  <div class="item">
                      <i class="user icon"></i>
                      <div class="content">
                        <a class="header">Name</a>
                        <div class="description">{{match.firstName}} {{match.lastNAme}}</div>
                      </div>
                    </div>
                    <div class="item">
                      <i class="mail icon"></i>
                      <div class="content">
                        <a class="header">Email</a>
                        <div class="description">{{match.email}}</div>
                      </div>
                    </div>
                    <div class="item" ng-if="match.company">
                      <i class="building outline icon"></i>
                      <div class="content">
                        <a class="header">Company</a>
                        <div class="description">{{match.company}}</div>
                      </div>
                    </div>
                    <div class="item" ng-if="match.company">
                      <i class="university icon"></i>
                      <div class="content">
                        <a class="header">School</a>
                        <div class="description">{{match.school}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="six wide column">
                  <div class="ui basic very padded segment">
                    <p>{{match.bio}}</p>
                  </div>
                </div>
              </div>
              <div class="ui divider"></div>
              <div class="ui two bottom attached fluid buttons">
                <button class="ui red basic button">Email</button>
                <button class="ui blue basic button">Chat</button>
              </div>
            </div>
        </div> 
    </div>
  </div>
  <br><br>
</body>
