<% layout('../layout') -%>
<% block('title', 'NFTE - Network for Teaching Entrepreneurship') -%>

<body ng-controller="HomeController as self" ng-init="page='home';<%- include ../auth.ejs %>">
  <%- include ../sidebar.ejs %>
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned dimmable dimmed segment aaa-cover">
      <div class="ui simple dimmer">
        <%- include ../menu.ejs %>
        <div class="ui container">
          <h1 class="ui inverted header" style="margin-top:4em">
            Nifty
          </h1>
          <div class="ui inverted divider"></div>
          <h2>Empowering entrepreneurs</h2>
          <h4 class="qu">Give a man a fish and you feed him for a day; teach a man to fish and you feed him for a lifetime.</h4>
          </h1>
        </div>
      </div>
    </div>

    <div class="ui fitted basic segment">
      <div class="ui vertical stripe quote segment">
        <div class="ui one column page grid">
          <div class="column">
            <div class="ui center aligned basic segment">
              <h1 class="ui huge header">
                Our program model
              </h1>
              <p>
                Our program model is classroom-based with entrepreneurship curricula that teach math and literacy skills in the context of developing a business plan. Programs are rigorous, experiential, and vital to students’ futures, and volunteers from local businesses share their expertise in our classrooms.
              </p>
            </div>
            <br><br>
            <div class="ui horizontal divider">Join us to be</div>
            <div class="ui equal width stackable internally celled grid">
              <div class="center aligned row" id="joinas">
                <div class="column">
                  <i class="huge blue users icon"></i>
                  <h3>Volunteer</h3>
                  <p>NFTE offers our volunteers the opportunity to adopt a class, connecting directly with a group of students over the course of the year.
                  </p>
                </div>
                <div class="column">
                  <i class="huge blue rocket icon"></i>
                  <h3>Teacher</h3>
                  <p>We provide training and certification through NFTE University, periodic recertification and ongoing professional development opportunities.</p>
                  <p>We provide access to a wide variety of teaching resources.</p>
                  <p>You'll be part of a community of NFTE teachers around the world</p>
                </div>
                <div class="column">
                  <i class="huge blue diamond icon"></i>
                  <h3 class="center aligned text">Mentor</h3>
                  <p>You can guide young minds to overcome the obstacles in the process of discovery.
                  </p>
                </div>
              </div>
            </div>
            <br>
            <div class="ui divider"></div>
          </div>
        </div>
      </div>
    </div>



    <div class="ui vertical stripe segment" style="padding-top:2em">
      <div class="ui center aligned text container">
        <h3 class="ui header">Sign up today and get added to our mailing list!</h3>
        <button class="ui huge teal basic button" ng-click="self.openSignupModal()">
          <i class="add user icon"></i>
          Join
        </button>
      </div>
    </div>
  </div>
</body>