<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui padded stackable inverted center aligned divided equal height stackable grid">
      <div class="two wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Events</a>
          <a href="#" class="item">Families</a>
          <a href="#" class="item">Officers</a>
          <a href="#" class="item">Sponsors</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Like what you see?</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Join AAA</a>
          <a href="#" class="item">Apply to Cabinet</a>
          <a href="#" class="item">Become a Sponsor</a>
          <a href="#" class="item">Contact Us</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Find us @</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Facebook</a>
          <a href="#" class="item">Twitter</a>
          <a href="#" class="item">Youtube</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Thanks for visiting!</h4>
        <p>Be sure to check out our upcoming events and visit our table on Sproul, from 10-2!</p>
      </div>
    </div>
  </div>
</div>