<div class="ui thin vertical sidebar menu" ng-class="{inverted:page=='home'}">
  <a class="item" ng-class="{active: page=='home'}" ng-href="{{paths.public.home.index}}">Home</a>
  <a class="item" ng-class="{active: page=='events'}" ng-href="{{paths.public.events.index}}">Events</a>
  <a class="item" ng-class="{active: page=='families'}" ng-href="{{paths.public.families.index}}">Families</a>
  <a class="item" ng-class="{active: page=='committees'}" ng-href="{{paths.public.committees.index}}">Committees</a>
  <a class="item" ng-class="{active: page=='cabinet'}" ng-href="{{paths.public.cabinet.index}}">Cabinet</a>
  <a class="item" ng-class="{active: page=='blog'}" ng-href="{{paths.public.blog.index}}">Blog</a>
</div>