<div class="ui thin vertical sidebar menu" ng-class="{inverted:page=='home'}">
  <a class="item" ng-class="{active: page=='home'}">Home</a>
  <a class="item" ng-class="{active: page=='events'}">Events</a>
  <a class="item" ng-class="{active: page=='families'}">Families</a>
  <a class="item" ng-class="{active: page=='committees'}">Committees</a>
  <a class="item" ng-class="{active: page=='cabinet'}">Cabinet</a>
  <a class="item" ng-class="{active: page=='blog'}">Blog</a>
</div>