<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui basic two column middle aligned relaxed fitted stackable grid">
    <div class="column">
      <div class="ui form segment">
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="fluid ui basic teal button" ng-click="self.submit()">Login</div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
    <div class="center aligned column">
      <button class="ui large facebook button">
        <i class="facebook icon"></i>
        Log in with Facebook
      </button>
      <div class="ui divider"></div>
      <button class="ui large google plus button">
        <i class="google icon"></i>
        Log in with Google
      </button>
    </div>
  </div>
</div>