<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui basic middle aligned relaxed fitted stackable grid">
    <div class="column">
      <div class="ui form segment">
        <div class="field">
          <label>Email</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Email">
            <i class="mail icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Username</label>
          <div class="ui left icon input">
            <input type="text" placeholder="Username">
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Confirm Password</label>
          <div class="ui left icon input">
            <input type="password">
            <i class="lock icon"></i>
          </div>
        </div>
        <div class="fluid ui basic teal button" ng-click="self.submit()">Sign up</div>
      </div>
    </div>
  </div>
</div>